body {
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

img {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

article {
  text-align: center;
  margin: auto;
}
h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.3rem;
  display: block;
}

ul {
  list-style-type: none;
}

#phone-number {
font-size: 1.5em;
}